* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: linear-gradient(267.45deg,#53f -34.23%,black);
}

.Home {
  text-align: center;
  background: linear-gradient(267.45deg,#53f -34.23%,black);
}

.Blog {
  text-align: center;
  background: linear-gradient(267.45deg,#53f -34.23%,black); 
}

.App-navhead {
  background: linear-gradient(267.45deg,#53f -34.23%,black);
  color: #13ec41;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.App-navlogo {
  width: 150px;
  padding: 0px 10px;
  
}

.App-navitems {
  list-style: none;
  display: flex;
}

.App-navitems > li {
  padding: 0 15px;
  margin: 0;
}

.App-bloglink {
  color: rgb(255, 150, 51)
}

.App-main {
  background-color: #282c34;
  min-height: 50vh;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top: #ee48e4 solid 1px;
  border-left: #ee48e4 solid 1px;
  border-radius: 10px;
  background-image: url(./Images/MainPurpleStar.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
}

.App-h1 {
  color: #13ec41;
}

/* .App-email {
  width: 300px;
  height: 30px;
  border: #ee48e4 3px solid;
  border-radius: 10px;
  
  text-align: center;
} */

.App-studiolink {
  color: rgb(255, 150, 51);
}

.App-link {
  /* color: #61dafb; */
  color: rgb(255, 150, 51);
}

.App-buttonwild {
  border: #ee48e4 3px solid;
  border-radius: 10px;
  
  text-align: center;
}

.App-article {
  padding: 0 30px;
  background: linear-gradient(267.45deg,#53f -34.23%,black);
  font-size: calc(10px + 2vmin);
  color: white;
  border-top: #ee48e4 solid 1px;
  border-left: #ee48e4 solid 1px;
  border-radius: 10px;
  /* background-color: #282c34; */
}

.App-nftview {
  border-top: #ee48e4 solid 1px;
  border-left: #ee48e4 solid 1px;
  border-radius: 10px;
}

.Explore-background {
  background: linear-gradient(267.45deg,#05d5ff -34.23%,#53f 99.39%)
}

.Explore-textdisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Explore-text {
  color: #13ec41;
}

.Explore-inputdiv {
  padding: 5px;
}

.Explore-input {
  border: #ee48e4 1px solid;
  border-radius: 10px;
  background: white;
  padding: 5px;
}

.Explore-buttondiv {
  padding: 5px;
}

.Explore-search {
  grid-column: 1 / -1;
  border: #ee48e4 1px solid;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: "Karla";
  font-size: calc(10px + 1vmin);
  background: -webkit-linear-gradient(left, #13ec41, #35aee2);
}

.Explore-nft {
  display: flex;
  
}

.Nftcard {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 13px;
  padding-bottom: 20px;
  background-color: #53f;
  max-height: 200px;
  max-width: 200px;
}

.Nftcard-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1px;
    max-height: 180px;
}

.Nftcard-atrribute {

  }

.Nftcard-trait {
    color: green;
    align-items: center;
  }

/* FIREGLOW */

.FireglowMain {
  padding: 20px;
  background-color: white;
  display: flex;
  color: rgb(255, 150, 51)
}

.FireglowLeftDiv {
  margin-right: 20px;
}

.Fireglow-card {
  width: 225px;
  border: rgb(255, 150, 51) 1px solid;
  border-radius: 10px;
  font-size: 12px;
}

.Fireglow-nav {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
}

.Fireglow-logo {
  color: rgb(255, 150, 51);
  margin-right: auto;
  font-weight: 700;
}

.Fireglow-plus {
  font-size: 14px;
  margin-right: auto;
  font-weight: 700;
}
s
.Fireglow-story {

}

.Fireglow-storyicon {
  
  height: 30px;
  border-radius: 30px;
  padding-inline: 5px;
}

.Fireglow-text {
  color: rgb(255, 150, 51);
}

.Fireglow-nft {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.Fireglow-footer {
  margin-bottom: 5px;
}

.Fireglow-footericon {
  
  height: 20px;
  padding-inline: 5px;
}

/* Child Fireglow */

.Fireglow-childnft {
  width: 225px;
  border-radius: 5px;
}

.App-footer {
  padding: 0 30px 10px 30px;
  /* background: linear-gradient(267.45deg,#53f -34.23%,black); */
  color: white;
  border-top: #ee48e4 solid 1px;
  border-left: #ee48e4 solid 1px;
  border-radius: 10px;
}

.App-footeritems {
  list-style: none;
  justify-content: space-between;
  display: flex;
  color: rgb(255, 150, 51);
}

.App-footericons {
  list-style: none;
  display: flex;
}

.App-footericons > li {
  padding: 0px 10px 0px 0px ;
  margin: 0;
}




